@font-face {
    font-family: 'VCROSD';
    src: url('VCR_OSD_MONO.woff') format('woff');
    src: url('VCR_OSD_MONO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#header {
    font-family: 'VCROSD';
    text-shadow: 0px 0px 30px #FFFFFF;
    text-align: center;
    animation: flicker 1.2s linear infinite;  
}
#rightBorder {
    font-family: 'VCROSD';
    text-shadow: 0px 0px 30px #FFFFFF;
    text-align: center; 
}
@keyframes flicker{
    0%, 100% {opacity: 1;}
    20%, 40% {opacity: 0.6;}
}