@font-face {
    font-family: 'VCROSD';
    src: url('VCR_OSD_MONO.woff') format('woff');
    src: url('VCR_OSD_MONO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#header {
    font-family: 'VCROSD';
    text-shadow: 0px 0px 30px #FFFFFF;
    text-align: center; 
}
#rightBorder {
    font-family: 'VCROSD';
    text-shadow: 0px 0px 30px #FFFFFF;
    text-align: center; 
}